@model IEnumerable<ProductVM>
@{
    ViewBag.Title = "Sixteen Clothing Products";
}

<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>new arrivals</h4>
                    <h2>sixteen products</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        @foreach (var product in Model)
                        {
                            <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item">
                                    <img width="370" height="170" src="~/Files/Photos/@product.PhotoPath" alt="">
                                    <div class="down-content">
                                        <h4>@product.Title</h4>
                                        <h6>$@product.Price</h6>
                                        <p>@product.Description</p>
                                        @await Component.InvokeAsync("UserRate", new { userID = ViewBag.UserId, productId = product.Id })
                                    </div>
                                    @if (product.IsInUserCart)
                                    {
                                        <button class="btn btn-dark"> Already In Your Cart</button>
                                    }
                                    else
                                    {
                                        <form asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" method="post">
                                            <input type="submit" class="btn btn-danger" value="Add To Cart" />
                                        </form>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="pages">
                    @for (int i = 1; i <= ((int)(ViewBag.ProductsCount/5))+1; i++)
                    {
                        <li><a asp-controller="Product" asp-action="Products" asp-route-skip="@((i-1)*5)">@i</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

